<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 持久层配置 -->
	<bean id="exampaperDao" class="com.cool.john.dao.ExampaperDao">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 业务逻辑层配置 -->
	<bean id="exampaperService" class="com.cool.john.service.ExampaperService">
		<property name="exampaperDao">
			<ref bean="exampaperDao" />
		</property>
	</bean>
	<!-- 代理类的配置 -->
	<bean id="exampaperServiceProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="exampaperService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans> 